
body {

margin: 0;

margin-top: 50px;

font-family: Bahnschrift SemiBold;
}



header {

display: block;

position: fixed;

top: 0;

left: 0;

right: 0;

height: 50px;

line-height: 100px;

background-color: red;

}



header * {

display: inline;

height: 50px;

}



headerul {

padding: 0;
border: 5px black;

}



header li {

margin-left: 20px;

}



section {

height: 100vh;

border: 1px solid black;

display: flex;

justify-content: center;

align-items: center;

text-align: center;

}

p {
text-align: left;
}


section h2 {

font-size: 1.5em;

}



section h3 {

font-size: 1.5em;

}



header a {

text-decoration: none;

color: black;

}

title {
  font-size: 4.5
}
