* {
  margin: 0px;
  padding: 0px;
}
body {
   background: rgb(102,178,255);
   min-height: 100%;
}

@font-face {
  font-family: La Borisette;
  src: url('.../._LaBorisette-Regular.woff2') format("woff2");
}

/* FONTS AND CHARACTERISTICS*/
h1 {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: white;
  text-decoration: none;

}

.articles h1 {
  color: rgb(54, 36, 25);
}

.text-slide h1 {
  color: rgb(204,229,255);
}
.text-slide p {
  color: rgb(204,229,255);
}

.behind-the-unxd h1 {
  color: rgb(204,229,255);
  font-size: 44px;
}

h2{
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 500;
  color: white;
  margin: 1px;
  font-size: 28px;
  padding: 3vh;
}
.project-section h2 {
  color: (204,229,255);
  padding-top: 25px;
}
.behind-the-unxd h2{
  color: rgb(204,229,255);
}

h3 {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  border: 1px solid;
  border-radius: 25px;
  background-color: rgb(66, 2, 2);
  color: rgb(226, 198, 192);
  margin: 1px;
  padding: 5px 15px;
  font-size: 16px;
}

h5 {
  font-family: meno-banner, serif;
  font-size: 12px;
}

p {
  font-family: meno-banner, serif;
  color: rgb(54, 36, 25);
}

.behind-the-unxd p {
  color: rgb(0,102,204);
}

a {
  text-decoration: none;
}
/* DISPLAY OF HEADER*/

nav {
display: flex;
font-family: neue-haas-grotesk-text, sans-serif;
font-weight: 400;
justify-content: space-around;
align-items: center;
min-height: 8vh;

}

.nav-links {
display: flex;
justify-content: space-around;
align-items: center;
width:60%;
}

.nav-links li{
  list-style: none;
}

.nav-links a {
text-decoration: none;
color: white;
}

.nav-links a:hover {
font-family: meno-banner, serif;
font-weight: 500;
font-style: italic;
}

a {
text-decoration: none;
}

div.logo-container{
text-align: center;
padding-left: 30px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

/* FOOTER */
footer{
  background: rgb(54, 36, 25);
  padding: 40px;
}

footer li{
  list-style: none;
}

footer li a{
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  white-space: nowrap;
  color: rgb(226, 198, 192);
}

/* lANDING PAGE*/
.project-section {
  display: block;
  height: 600px;
  background: rgb(102,178,255);
}

.carousel-container {
  width: 560px;
  margin: auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: 560px;
  height: 315px;
}

.slide-1 {
  display: flex;
  width: 75%;
  margin: 5% 7% 15% 15%;
}
.text-slide {
  padding-left: 15px;
  padding-right: 15px;
}

/* ARTICLE FORMATTING */
.articles {
  display: grid;
  width: 60%;
  padding: 10% 10% 20% 20%;
  font-family: meno-banner, serif;
  font-weight: 500;
  font-size: 20px;
  text-align: justify;
  align-items: center;
}


.article-links-instagram {
  margin: auto;
  width: 80%;
}


.page-numbers{
  display: flex;
  padding: 25px;
  margin-left: 20%;
  width: 20%;
  align-items: center;
  justify-content: space-around;
}

/*ARTICLES PAGE*/
.article-pages {
  display: flex;
  overflow-x: auto;
  max-height: 800px;
  border: 1px solid rgb(255,247,242)
}

.article-pages .box {
  background: rgb(255,247,242);
  min-width: 250px;
  height: 800px;
  line-height: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.article-pages h1{
  color: rgb(54, 36, 25);
  font-size: 26px;
}
.article-pages h2 {
  color: rgb(54, 36, 25);
}
.box-image {
  height: 220px;
}

.box-text div{
  font-family: meno-banner, serif;
  color: rgb(54, 36, 25);
  font-size: 16px;
}
.article-pages {
  background: rgb(212,176,176);
}
.latest-articles {
  padding-top: 100px;
  display: flex;
  width: 70%;
  margin: auto;
  height: 200px;
}
.latest-articles h2 {
  color: rgb(54, 36, 25);
  font-size: 38px;
}
.latest-articles p {
  width: 80%;
}



/*ABOUT PAGE*/
div.about-text {
  width: 400px;
}

section.about {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 80px 200px 200px;
}
.about-title {
  grid-column: 1/3;
  grid-row: 1/2;
}
.about-text-1{
  grid-column: 2/3;
  grid-row: 2/3;
}
.about-video-1 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.about-text-2 {
  grid-row: 3/4;
  grid-column: 2/3;
}
.about-video-2 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.about-text-3 {
  grid-column: 2/3;
  grid-row: 4/5;
}
.about {
  width: 80%;
  padding: 8% 8% 7% 7%;
  font-family: meno-banner, serif;
  font-weight: 500;
  font-size: 20px;
  text-align: justify;
  align-items: center;
}

.behind-the-unxd {
  display: grid;
  padding-top: 150px;
  width: 75%;
  margin: auto;
  grid-template-rows: 300px 400px;
  grid-template-columns: 30% 30% 40%;

}
.behind-the-unxd p {
  grid-column: 2/4;
}

.video-text {
  grid-column: 3/4;
}
.video-slide {
  grid-column: 1/3;
  width: 95%;
  min-width: 500px;
}



@media screen and (max-width:600px) {
 html, body {
  min-width: 0;
  width: 100%;
  overflow-x: hidden;
  position: absolute;
}

.nav-links {
  position: absolute;
  right: 0px;
  top: 8vh;
  height: 92vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.5 ease-in;
  z-index: 99;
  background-color: rgb(102,178,255);
  font-size: 32px;
  }

.nav-links li {
    opacity: 0;
  }
.nav-active {
  transform: translateX(0%);
  }
.burger {
  display: block;
  padding-right: 3vh;
}

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
  }

  .toggle .line1 {
      transform: rotate(-45deg) translate(-5px,6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);

  }

  .landing-video {
    height: 108vh;
    object-fit: cover;
  }
  .slide-1 {
    display: block;
    width: 85%;
    margin: auto;
    height: 100vh;
  }
  .project-section {
    height: 200vh;
  }

  .latest-articles {
    display: block;
    width: 85%;
    margin: auto;
    padding-top: 7vh;
    height: 65vh;
  }
  .latest-articles p {
    width: 100%;
  }
  .article-pages {
    display: block;
  }
  .article-pages .box {
    height: 100px;
    justify-content: center;
  }
  .box-image {
    display: none;
  }
  .box-text p{
    display: none;
  }
  .box-text {
    text-align: center;
    padding-top: 50px;
  }
    .articles h1 {
      padding-top: 45px;
    }
    section.articles {
      width: 85%;
      display: block;
      margin: auto;
      padding: 0;

    }
    .article-text {
      width: 90%;
      margin: auto;
    }
    .article-links-instagram {
      width: 85%;
      margin: auto;
    }
    .behind-the-unxd {
      display: block;
      width: 85%;
      margin: auto;
      padding: 8vh 0;
    }
    .behind-the-unxd p {
      padding: 3vh 0;
    }
    .video-slide {
      min-width: 0px;
      width: 100%;
      padding-top: 15vh;
    }

    section.about {
      display: block;
      padding: 8vh 0;
      margin: auto;
    }
    .about-title {
      padding: 7% 0%;
    }
    .about p {
      padding: 3vh 0;
    }
    .about-video-1 {
      z-index: 0;
    }
    footer {
      display: none;
    }
  }
