
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}






/* MY CODE STARTS HERE */

* {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: Bahnschrift SemiBold;
  text-decoration: none;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

section h1 {
  width: 100%
}
/*HEADER BOX*/
header {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  line-height: 50px;
  background-color: white;
  width: 100%
}
/* SHOWS THE HEADER TEXT*/
header * {
  display: inline-block;
  height: 10px;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 18px
  margin: 0 auto;
  text-align: center;
  padding: 3px 5px
}
header *:hover{
  color: orange;
}
header .header-logo {
  display: block;
  margin: 0 auto;
  padding: 0px 45px
}
/*space between header words*/
header li {
  margin-left: 30px;
}
/*GETS RID OF THE BULLET POINTS ON LINKS*/
a {
  list-style: none;
}
.header-logo {
  width: 285px;
  height: 50px;
}
/*MAKES CENTRAL TEXT APPEAR*/
main {
  height: 100%;
  display: block;
}
@media only screen and (min-width: 1000px) {
  header {
    height: 50px;
    line-height: 25px;
    position: fixed;
    background-color: white;
    z-index: 1;
  }
  /* SHOWS THE HEADER TEXT*/
  header * {
    height: 0px;
    margin: 0px 10px;
    float: left;
    font-size: 18px;
  }
  header *:hover{
    color: red;
  }
  header .header-logo {
    margin: 0 auto;
    padding: 0px 500px;
    float: center;
    display: fixed;
  }
  /*space between header words*/
  header li {
    margin-left: 5px;
  }
  .header-logo {
    width: 285px;
    height: 45px;
    display: fixed;
  }
}

/*FIRST PIC YOU SEE ON THE WEBSITE - GO TOGETHER*/
.frontpage {
  width: 100%;
  height: 250px;;
  text-align: center;
  align-items: center;
  display: table;
}
/*FIRST PIC YOU SEE ON THE WEBSITE - GO TOGETHER*/
.front-page-article {
  width: 100%;
  align-items: center;
  margin: 80px 0px;
}
/*SMALL PICS OF ARTICLES*/
.index-img-1 {
  width: 25%;
  position: absolute; left: 10px;
}
/*TITLES OF ARTICLE*/
.index-links div {
  margin: 50px;
  margin-left: 120px;
  width: calc(100% - 120px);
  height: 100px;
  display: block;
  position: inherit; center: 0px
}
p {
  font-size: 1.25em;
  color: black;
  font-family: 'Cormorant Garamond', serif;
  height: 80px;
  padding-top: 15px;
}
/*SEE MORE BUTTON*/
.see-more {
  margin: 30px;
  border: 2px solid blue;
  padding: 10px 20px;
  width: 35%;
  float: left;
}
.see-more a {
  color: blue;
}
.see-more a:hover {
  color: red;
}
/*PAGE NAVIGATION*/
.page-1 {
  border: 2px solid blue;
  padding: 4px 4px;
  color: red;
}
.page-1:hover {
  color: blue;
}
.page-2 {
  border: 2px solid blue;
  padding: 4px 4px;
  color: red;
}
.page-2:hover {
  color: blue;
}
main .articles {
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
}
main .articles h2 {
    font-family: Bahnschrift SemiBold;
/*COMPUTER VERSION*/
@media screen and (min-width: 1000px) {
  /*FIRST PIC YOU SEE ON THE WEBSITE - GO TOGETHER*/
  .frontpage {
    width: 100%;
    height: 600px;
    text-align: center;
    align-items: center;
  }
  /*FIRST PIC YOU SEE ON THE WEBSITE - GO TOGETHER*/
  .front-page-article {
    width: 100%;
    align-items: center;
    margin: 37px 0px;
  }
  /*SMALL PICS OF ARTICLES*/
  .index-img-1 {
    width: 15%;
    position: absolute; left: 30px;

  }
  /*TITLES OF ARTICLE*/
  .index-links div {
    margin: 50px;
    margin-left: 225px;
    width: calc(100% - 450px);
    height: 150px;
    display: block;
    position: inherit; center: 0px
    padding-bottom: 5px;
  }
  p {
    font-size: 25px;
    color: black;
    font-family: 'Cormorant Garamond', serif;
    height: 80px;
    padding-top: 35px;
  }

  }
/*SEE MORE BUTTON*/
  .see-more {
    margin: 50px;
    margin-left: 220px;
    border: 2px solid #0020C2;
    padding: 10px 20px;
    width: 14%;
  }
}

/*TEXT IN ARTICLES*/
.articles {
  width: 75%;
  margin-left: 50px;
  display: block;
  height: 100%;
}
/*POSITIONING OF LINKS AND TEXT ON PHONE*/
  .article-text {
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
    font:
  }
  .article-links {
    margin: 0px 0px 0px
  }
  .article-links-instagram {
    margin: 0px 0px 0px;
  }
  .article-links-bandcamp {
    margin: 10px 0px 50px;
  }
/*POSITIONING OF LINKS AND TEXT ON COMPUTER*/
@media screen and (min-width: 1000px) {
  .articles {
    width: 65%;
    height: 100%;
    margin: 0px 200px
  }
  .article-text {
    margin-bottom: 0px;
    position: relative;
    z-index: 0;
  }
  .article-links {
    width: 65%;
    margin: 0px 100px 0px;
  }
  .article-links-instagram {
    margin: 0px 100px 50px;
  }
  .article-links-bandcamp {
    margin: 0px 70px 0px;
  }
}
/*TITLE OF ARTICLES*/
section h3 {
  font-size: 1.25em;
  color: black;
  height: 0%;
  padding-top: 5px;
}
section h3:hover {
  color: red;
}
@media screen and (min-width: 1000px){
  /*TITLE OF ARTICLES ON COMPUTER*/
  section h3 {
    font-size: 1.6em;
  }
}
section h2 {
  font-size: 2em;
  text-align: left;
  text-decoration: none;
  color: black;
  padding-top: 120px;
}
section h1 {
  font-size: 2em;
  text-align: left;
  text-decoration: none;
  color: black;
  margin-left: 10px;
}
section h4 {
  padding-top: 25px;
  color: #0B88F5;
  font-size: 1.25em;
  font-family: 'Cormorant Garamond', serif;
}
@media screen and (min-width: 1000px){
  /*TITLE OF ARTICLES ON COMPUTER*/
  section h4 {
    font-size: 1.3em;
  }
}
footer {
  background-color: black;
  padding: 40px 40px;
  height: 70px;
  width: calc(100% - 80px);
  overflow: hidden;
  list-style: none;
  line-height: 18px;
  position: relative;
  bottom: 0;
  z-index: 0;
}
footer li a{
  color: white;
